* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 100vh;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  width: 120rem;
  /* height: 100vh; */
  /* background-color: #222227; */
  color:black;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
}

.month {
  width: 100%;
  height: 9rem;
  background-color: #120fc7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.month i {
  font-size: 2.5rem;
  cursor: pointer;
}

.month h1 {
  font-size: 2.2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 0.3rem;
}

.month p {
  font-size: 1.2rem;
}

.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(119.2rem / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.days div {
  font-size: 1.4rem;
  margin: 0.3rem;
  width: calc(114.2rem / 7);
  height: 8.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
  border: #12121f 1px solid;
}

.days div:hover:not(.today) {
  background-color: #262626;
  border: 0.2rem solid #777;
}

.prev-date,
.next-date {
  opacity: 0;
}

.today {
  background-color: #120fc7;
}

.time {
  background-color: red;
  border-radius: 5px;
  margin: 4rem 0.4rem 4rem 0.4rem;
  padding: 0rem 0.2rem 0rem 0.2rem;
  font-size: 12px;
  cursor: pointer;
}

/* locate the next button at bottom right */
.button-calendar {
  position: absolute;
  bottom: 0;
  right: 0;
}

#cal1{
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 5px 50px 120px 50px; */
  height: fit-content;
  width: fit-content;
  /* margin-top: 200px; */
  display: none;
  z-index: 9;
}
