
.addVehicleform ul{
    text-align: center;
    padding: 10px 10px 10px 10px;
    list-style: none;
}
@media only screen and (max-width: 770px) {

    .reschedule{
        margin-left: 20px;
    }
    .reschedule h3{
        font-size: 15px;
    }
}