.manageEmployee-heading{
    color: #193498;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

table { 
    max-width: 100%; 
}

table, th, td { 
    border: solid 1px #193498;
    border-collapse: collapse; 
    text-align: center;
    margin: 0px auto;
}

th{
    max-width: 130px;
    padding: 0.35em 0.35em; 
}

td{
    padding: 0.35em 0.35em;
}

tr{
    max-width: 100%;
}

#addRow{
    margin: 35px 20px;
    padding: 8px 8px;
    background-color: #193498;
    color: white;
    border-radius: 5px;
    border-color: white;
    cursor: pointer;
}

#addStlRow{
    margin: 35px 20px;
    padding: 8px 8px;
    background-color: #193498;
    color: white;
    border-radius: 5px;
    border-color: white;
    cursor: pointer;
}

.addTableEmp{
    display: inline-block;
    text-align: center;
    margin: auto;
}

.addBtnEmps{
    text-align: center;
}

#bts{
    display: none;
    margin: 20px auto;
    padding: 8px 8px;
    background-color: #193498;
    color: white;
    border-radius: 5px;
    border-color: white;
    cursor: pointer;
}

#btStl{
    display: none;
    margin: 20px auto;
    padding: 8px 8px;
    background-color: #193498;
    color: white;
    border-radius: 5px;
    border-color: white;
    cursor: pointer;
}

#addRow:hover, #addStlRow:hover{
    background-color: #041553;
    color: white;
}

#removeBtn, #removeStlBtn{
    background-color: #7B113A;
    padding: 5px 5px;
    color: white;
    border-radius: 5px;
    border-color: white;
    cursor: pointer;
}

#removeBtn:hover, #removeStlBtn:hover{
    background-color: #500421;
}

#tb-input, #tb-Stlinput{
    padding: 2px;
    font-size: 14px;
    border-color: grey;
    max-width: 115px;
}

#adminSearchEmployee{
    padding: 10px 10px;
    border-color: #193498;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 135px;
    display: block;
    font-size: 15px;
}

#adminViewEmp{
    display: block;
    margin: 30px auto;
    padding: 8px 8px;
    background-color: #193498;
    color: white;
    border-radius: 5px;
    border-color: white;
}

#adminViewEmp:hover{
    color: #70a2ce;;
}

.Admin-EmpSearch{
    display: inline-block;
}

.adEmpSearch1{
    margin-left: 20px;
}

.adEmpSearch2{
    float: right;
    margin-left: 20px;
    margin-right: 150px;
}

#AdminserviceTeams-types{
    font-weight: 600;
    border-radius: 5px;
    border: 2px outset #193498;
}

#AdminserviceTeamLeaders-types{
    font-weight: 600;
    border-radius: 5px;
    border: 2px outset #193498;
}

.aaa{
    margin-right: 15px;
}

#adminSearchEmployee{
    font-size: 15px;
    border: 2px outset #193498;
}

.Table-search {
    display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: center;
}

.table-wrapper {
    overflow: auto;
    max-width: 100%;
}

tr {
    border-bottom: 1px solid;
}

th {
    color: #193498;
    cursor: pointer;
    border: solid 1px #193498;
}

th, td {
    border: solid 1px #193498;
    text-align: left;
    padding: 2px 2px;
    max-width: fit-content;
}

input[type=search] {
    border: 1px solid;
    font-size: initial;
    margin-bottom: 1em;
    padding: 0.25em;
}

.hidden {
    display: none;
}

.empAddSuccess{
    display: block;
    text-align: center;
    margin: auto auto;
    color: green;
    font-weight: 800;
}

.edit_btn {
    text-decoration: none;
    padding: 2px 5px;
    background: green;
    color: white;
    border-radius: 3px;
}

.edit_btn:hover {
    background: rgb(12, 161, 12);
}

.del_btn {
    text-decoration: none;
    padding: 2px 5px;
    color: white;
    border-radius: 3px;
    background:#7B113A;
}

.del_btn:hover {
    background: #500421;
}

.addTb2{
    display: none;
}

::-webkit-calendar-picker-indicator{
    margin-left: 0px;
}


@media only screen and (max-width: 770px){

    .heading{
        font-size: 12px;
        text-align: center;
    }

    .ad-EmpSearch{
        display: block;
        text-align: center;
        margin: 10px auto;
    }

    #adminSearchEmployee{
        font-size: 12px;
        margin-right: 50px;
        margin-left: 50px;
    }

    .adEmpSearch2{
        float: left;
        margin-left: 50px;
        margin-right: 50px;
    }

}