.manageEquipment-heading{
    color: #085394;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
table { 
    max-width: 100%; 
}

table, th, td { 
    border: solid 1px #085394;
    border-collapse: collapse; 
    padding: 2px 2px; 
    text-align: center;
    margin: 0px auto;
}

th{
    max-width: 130px;
}

td{
    max-width: 150px;
}

tr{
    max-width: 100%;
}
#addNewRow{
    display: block;
    margin: 35px auto;
    padding: 8px 8px;
    background-color: #085394;
    color: white;
    border-radius: 5px;
    border-color: white;
    cursor: pointer;
}
#addNewRow:hover, #bt:hover{
    color: #70a2ce;
}
#assignEquipment{
    display: block;
    margin: 35px auto;
    padding: 8px 8px;
    background-color: #085394;
    color: white;
    border-radius: 5px;
    border-color: white;
}
#assignEquipment:hover, #bt:hover{
    color: #70a2ce;
}
#submitButton{
    display: none;
    margin: 20px auto;
    padding: 8px 8px;
    background-color: #085394;
    color: white;
    border-radius: 5px;
    border-color: white;
    cursor: pointer;
}

#submitButton:hover{
    color: #70a2ce;
}
#saveButton{
    display: none;
    margin: 20px auto;
    padding: 8px 8px;
    background-color: #085394;
    color: white;
    border-radius: 5px;
    border-color: white;
}
#saveButton:hover{
    color: #70a2ce;
}
#container1{
    display:block;
    overflow:auto;
    margin:0;
    padding-bottom:10px;
}

#container2{
    display:block;
    overflow:auto;
    margin:0;
    padding-bottom:10px;
}


#removeButton1{
    background-color: rgb(145, 20, 20);
    padding: 5px 5px;
    color: white;
    border-radius: 5px;
    border-color: white;
    cursor: pointer;
}

#removeButton1:hover{
    background-color: rgb(187, 13, 13);
}


#closeButton{
    background-color: rgb(145, 20, 20);
    padding: 5px 5px;
    color: white;
    border-radius: 5px;
    border-color: white;
    cursor: pointer;
}

#closeButton:hover{
    background-color: rgb(187, 13, 13);
}
#tb-input{
    padding: 4px;
    font-size: 12px;
    border-color: grey;
    max-width: 110px;
}
#tb1-input{
    padding: 4px;
    font-size: 12px;
    border-color: grey;
    max-width: 110px;
}
#adminSearchEquipment{
    padding: 10px 10px;
    border-color: #085394;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 320px;
    display: block;
    font-size: 15px;
}

#adminViewEquip{
    display: block;
    margin: 30px auto;
    padding: 8px 8px;
    background-color: #085394;
    color: white;
    border-radius: 5px;
    border-color: white;
}

#adminViewEquip:hover{
    color: #70a2ce;
}

.Admin-EquipSearch{
    display: inline-block;
}

.adEquipSearch1{
    /* margin-left: 20px; */
    margin-left: 89px;
}

.adEquipSearch2{
    float: right;
    margin-left: 5px;
    /* margin-right: 350px; */
    margin-right: 405px;
}

#AdminserviceTeamTypes{
    font-weight: 600;
    border-radius: 5px;
    border: 2px outset #085394;
}



#adminSearchEquipment{
    font-size: 15px;
    border: 2px outset #085394;
}

.Search-Table {
    display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: center;
}

.table-wrap {
    overflow: auto;
    max-width: 100%;
}

tr {
    border-bottom: 1px solid;
}

th {
    color: #085394;
    /* white-space: nowrap; */
    cursor: pointer;
    border: solid 1px #085394;
}

th, td {
    border: solid 1px #085394;
    text-align: left;
    padding: 0.5em 1em;
    max-width: fit-content;
}

input[type=search] {
    border: 1px solid;
    font-size: initial;
    margin-bottom: 1em;
    padding: 0.25em;
}

.hiddenRow {
    display: none;
}


@media only screen and (max-width: 770px){

    .heading{
        font-size: 12px;
        text-align: center;
    }

    .ad-EquipSearch{
        display: block;
        text-align: center;
        margin: 10px auto;
    }

    #adminSearchEquipment{
        font-size: 12px;
        margin-right: 50px;
        margin-left: 50px;
    }

    .adEquipSearch2{
        float: left;
        margin-left: 50px;
        margin-right: 50px;
    }

}