/* section-1 */
.bg-image {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.customer-home-main-section1{
    width: 100%;
    height: 500px;
    background-image: url('../images/car.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    display: table;
}

.bookAwash{
    display: table-cell;
    vertical-align: middle;
}

.customer-home-main-section1 .bookAwash h3{
    font-size: 40px;
    font-weight: 900;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px #111;
    margin-top: 90px;
}

.customer-home-main-section1-button{
    display: block;
    margin: 20px auto;
    width: fit-content;
    background-color: #113CFC;
    /* opacity: 0.7; */
    border-radius: 15px;
    height: 40px;
    opacity: 0.8;
}

section .bookAwash .bookAwash-button a{
    color: white;
    font-weight: 1200;
    font-size: 15px;
}

/* section-2 */

.section2-blocks1{
    margin: 50px 20px 0px;
    width: calc(100%-40px);
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    text-align: center;   
}

.section2-blocks2{
    margin: 50px 20px 0px;
    width: calc(100%-40px);
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    text-align: center;    
}

.section2-blocks3{
    margin: 50px 20px 0px;
    width: calc(100%-40px);
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    text-align: center;    
}

.customer-home-section2-block-img1{
    position: relative;
    top: 20px;
    width: 90px;
    height: 80px;
    background-image: url('../images/istockphoto-1224774389-170667a.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.customer-home-section2-block-img2{
    position: relative;
    top: 28px;
    width: 115px;
    height: 80px;
    background-image: url('../images/1344204-full.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.customer-home-section2-block-img3{
    position: relative;
    top: 15px;
    width: 105px;
    height: 80px;
    background-image: url('../images/shopping-cart-completed-order-purchase-icon-vector-24332133.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.customer-home-section2-block-img4{
    position: relative;
    top: 30px;
    width: 110px;
    height: 80px;
    background-image: url('../images/customer-rating-icon-illustration_138676-400.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.section2-block-heading button{
    background-color: white;
    border-color: #193498;
}

.customer-home-main-section1-button:hover{
    background-color: #1d3d58;
    border-color: #1d3d58;
}

.help-icon-mob{ 
    position:fixed; 
    bottom:0; 
    right: 10px;
}

.help-icon-desk{
    display: none;
}

@media only screen and (min-width: 770px) {

    .customer-home-main-section1{
        width: 100%;
        height: 600px;
        background-image: url('../images/car_desktop.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        display: table;
    }

    .customer-home-main-section1 .bookAwash h3{
        font-size: 70px;
        
    }

    .customer-home-main-section1-button{
        height: 60px;
    }
    
    section .bookAwash .bookAwash-button a{
        color: white;
        font-weight: 600;
        font-size: 22px;
    }

    .customer-home-main-section1-button:hover{
        background-color: #1d3d58;
        border-color: #1d3d58;
    }

    .help-icon-mob{
        display: none;
    }

    .help-icon-desk{
        display: block;
        position:fixed; 
        bottom:0; 
        right: 10px;
    }
}











