#pwd-validate-message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 2px;
    margin-top: 10px;
}
  
#pwd-validate-message p {
    padding: 4px 20px;
    font-size: 10px;
}

#pwd-validate-message h3{
    font-size: 11px;
}
  
  /* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}
  
.valid:before {
    position: relative;
    left: -20px;
    content: "✔";
}
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
    color: red;
}
  
.invalid:before{
    position: relative;
    left: -20px;
    content: "✖";
}


@media only screen and (max-width: 770px) {

    #link-to-go-login{
        width: 100%;
        position: absolute;
        top: 88%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 13px;
        margin-bottom: 20px;
        cursor: pointer;
        margin-bottom: 10px;
    }
    
    #link-to-go-login:hover{
        text-decoration: underline;
    }

}