.heading{
    color: #085394;
    margin-bottom: 20px;
    text-align: center;
    font-size: larger;
}

.sub-heading{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

#sub-heading-p{
    text-align: center;
    font-weight: 400;
}

.wash-date{
    margin: 35px 80px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);   
}

.wash-date h3{
    color: #085394;
    padding-top: 15px;
    padding-bottom: 15px;
}

.select-vehicle{
    margin: 35px 80px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);   
}

.select-vehicle h3{
    color: #085394;
    padding-top: 15px;
    padding-bottom: 15px;
}

.select-vehcile-box{
    display: block;
    text-align: center;
    margin: auto auto;
    margin-bottom: 20px;
    margin-top: 15px;
}

#vehicle-types{
    font-size: 15px;
    padding: 8px 8px;
    border-radius: 5px;
    border-color: #085394;
    font-weight: bold;
}

.wash-type{
    margin: 35px 80px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);   
}

.wash-type h3{
    color: #085394;
    padding-top: 15px;
    padding-bottom: 15px;
}

.select-wash-type{
    font-size: 17px;
    padding: 8px 8px;
    border-radius: 5px;
    border-color: #085394;
    text-align: center;
}

.button{
    font-size: 14px;
    color: #085394;
    border-radius: 5px;
    padding: 12px 12px;
    margin-right: 15px;
    background-color:white;
    border-color: #085394;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
}

.button.active{
    background: #085394;
    color: #fff;
}

.price{
    margin: 35px 80px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4); 
}

.price h3{
    color: #085394;
    padding-top: 15px;
    padding-bottom: 15px;
}

.price-display{
    border-radius: 5px;
    padding: 12px 12px;
    margin-right: 15px;
    background-color:white;
    border-color: #085394;
    font-weight: bold;
    margin-bottom: 20px;
}


.next-pg1{
    float: right;
    margin: 25px 50px;
}

.next-button{
    background-color: #085394;
    padding: 10px 30px;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.next-button:hover{
    background-color: #366c9b;
}

@media only screen and (max-width: 770px){

    .heading{
        font-size: 15px;
    }

    .sub-heading{
        font-size: 12px;
    }

    .wash-date h3{
        font-size: 15px;
    }

    .select-vehicle h3{
        font-size: 15px;
    }

    .wash-type h3{
        font-size: 15px;
    }

    .price h3{
        font-size: 15px;
    }

    .next-button{
        padding: 5px 8px;
        font-size: 15px;
    }

    .next-button a{
        font-size: 15px;
    }

    .wash-date{
        margin: 35px 50px;
    }

    .select-vehicle{
        margin: 35px 50px;
    }

    .wash-type{
        margin: 35px 50px;
    }

    .price{
        margin: 35px 50px;
    }
}
