.heading-order{
    color: #085394;
    margin-bottom: 20px;
    text-align: center;
    font-size: larger;
}

.order-box{
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 140px; 
    margin-right: 140px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4); 
    text-align: center; 
}

/* .order-subBox{
    /* display: inline-block; */
    /* margin: 0 10px;
    padding: 3px; */
/* } */ 

.orderID{
    margin-top: 20px;
    margin-bottom: 30px;
}

.orderDate{
    margin-bottom: 30px;
}

.orderDate button{
    background-color:#085394;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.orderDate button:hover{
    background-color: rgb(247, 163, 9);
}

.orderDate button a{
    color: white;
    font-weight: 700;
}

.orderTime {
    margin-bottom: 30px;
}

.orderTime button{
    background-color:#085394;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.orderTime button:hover{
    background-color: rgb(247, 163, 9);
}

.orderTime button a{
    color: white;
    font-weight: 700;
}

.orderVehicle{
    margin-bottom: 30px;
}

.orderVehicle button{
    background-color:#085394;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.orderVehicle button:hover{
    background-color: rgb(247, 163, 9);
}

.orderVehicle button a{
    color: white;
    font-weight: 700;
}

.orderServiceType{
    margin-bottom: 30px;
}

.orderServiceType button{
    background-color:#085394;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.orderServiceType button:hover{
    background-color: rgb(247, 163, 9);
}

.orderServiceType button a{
    color: white;
    font-weight: 700;
}

.orderLocation{
    margin-bottom: 30px;
}

.orderLocation button{
    background-color:#085394;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.orderLocation button:hover{
    background-color: rgb(247, 163, 9);
}

.orderLocation button a{
    color: white;
    font-weight: 700;
}

.orderPrice{
    margin-bottom: 30px;
    text-align: center;
}

.a1{
    display: inline;
    margin-right: 15px;
}

.a2{
    display: inline;
    margin-right: 15px;
}

.a3{
    display: inline;
    margin-right: 15px;
}

.a4{
    display: inline;
    margin-right: 15px;
}

.a5{
    display: inline;
    margin-right: 15px;
}

.a6{
    display: inline;
    margin-right: 15px;
}

.a7{
    display: inline;
    margin-right: 15px;
}

.order-buttons{
    margin-top: 30px;
    margin-bottom: 30px;
}

.orderButtons{
    display: inline;
    margin-bottom: 30px;
}

.a8{
    float: left;
    margin-left: 40px;
    background-color: red;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.a8:hover{
    background-color: darkred;
}

.order-buttons a{
    font-size: 15px;
    color: white;
}

.a9{
    float: right;
    margin-right: 40px;
    background-color: green;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.a9:hover{
    background-color: darkgreen;
}


.cancelPopUpclass {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .cancelPopUpContent-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .cancelPopUpContent-content p{
      font-weight: 500;
  }
  
  /* The Close Button */
  .closeCancel {
    color: green;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closeCancel:hover,
  .closeCancel:focus {
    color: darkgreen;
    text-decoration: none;
    cursor: pointer;
  }

  .yesCancel{
      display: block;
      float: left;
      margin: 25px 15px;
  }

  .btnCancel{
      background-color: red;
      padding: 8px 20px;
      border-radius: 5px;
  }

  .btnCancel:hover{
      background-color: darkred;
  }

  .yesCancel button a{
      color: white;
      font-size: 15px;
      font-weight: 600;
  }



  .confirmPopUpclass {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .confirmPopUpContent-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .confirmPopUpContent-content p{
      font-weight: 500;
  }
  
  /* The Close Button */
  .closeConfirm {
    color: green;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closeConfirm:hover,
  .closeConfirm:focus {
    color: darkgreen;
    text-decoration: none;
    cursor: pointer;
  }

  .yesConfirm{
      display: block;
      float: left;
      margin: 25px 15px;
  }

  .btnConfirm{
      background-color: #085394;
      padding: 8px 20px;
      border-radius: 5px;
  }

  .btnConfirm:hover{
      background-color: #033663;
  }

  .yesConfirm button a{
      color: white;
      font-size: 15px;
      font-weight: 600;
  }

  @media only screen and (min-width: 770px){
    .order-box{
        margin-top: 35px;
        margin-bottom: 35px;
        margin-left: 140px; 
        margin-right: 140px;
    }

    .order-subBox{
        text-align: left;
    }

    .orderDetails{
        display: inline-block;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 30px;
        border: 5px 5px #888;
        padding: 20px 20px;
    }
  }


@media only screen and (max-width: 770px) {

    .order-box{
        margin: 35px 10px;
        padding: 10px 10px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4); 
        text-align: center; 
    }

    .heading-order{
        font-size: 15px;
    }

    .p1{
        font-size: 13px;
    }
}