.heading-order{
    color: #085394;
    margin-bottom: 20px;
    text-align: center;
    font-size: larger;
}

.blurOrder{
    filter: blur(3px);
    /* position: absolute; */
    width: 100%;
    /* /* height: 100%; */
}
.order-box{
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 140px; 
    margin-right: 140px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4); 
    text-align: center; 
}

/* .order-subBox{
    /* display: inline-block; */
    /* margin: 0 10px;
    padding: 3px; */
/* } */ 

.orderID{
    margin-top: 20px;
    margin-bottom: 30px;
}

.orderDate{
    margin-bottom: 30px;
}

.orderDate button{
    background-color:#085394;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.orderDate button:hover{
    background-color: rgb(247, 163, 9);
}

.orderDate button a{
    color: white;
    font-weight: 700;
}

.orderTime {
    margin-bottom: 30px;
}

.orderTime button{
    background-color:#085394;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.orderTime button:hover{
    background-color: rgb(247, 163, 9);
}

.orderTime button a{
    color: white;
    font-weight: 700;
}

.orderVehicle{
    margin-bottom: 30px;
}

.orderVehicle button{
    background-color:#085394;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.orderVehicle button:hover{
    background-color: rgb(247, 163, 9);
}

.orderVehicle button a{
    color: white;
    font-weight: 700;
}

.orderServiceType{
    margin-bottom: 30px;
}

.orderServiceType button{
    background-color:#085394;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.orderServiceType button:hover{
    background-color: rgb(247, 163, 9);
}

.orderServiceType button a{
    color: white;
    font-weight: 700;
}

.orderLocation{
    margin-bottom: 30px;
}

.orderLocation button{
    background-color:#085394;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.orderLocation button:hover{
    background-color: rgb(247, 163, 9);
}

.orderLocation button a{
    color: white;
    font-weight: 700;
}

.res{
    margin-top: 8px;
    margin-bottom: 11px;
}
.box3{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    /* margin: 9px 166px; */
    padding: 10px 0px 0px 0px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 40%);
    left: 20%;
    position: relative;
    justify-content: center;
}
.box2{
    margin: 21px 50px;
    background-color: white;
    border-radius: 5px;
    padding: 20px 20px;
    text-align: left;
    margin-left: -38px;
}
.orderPrice{
    margin-bottom: 30px;
    text-align: center;
}

.orderitemx{
    float: right;
    color: #000000;
    position: relative;
    left: -34%;
    transform: translate(95%, 4%);
}
.orderitem2{
    color: #000000;
    position: relative;
    left: 128%;
    transform: translate(-14%, -81%);
}
.changebutton{
    margin-left: 0px;
    background-color: #085394;
    padding: 6px 9px;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}
.a1{
    display: inline;
    margin-right: 15px;
}

.a2{
    display: inline;
    margin-right: 15px;
}

.a3{
    display: inline;
    margin-right: 15px;
}

.a4{
    display: inline;
    margin-right: 15px;
}

.a5{
    display: inline;
    margin-right: 15px;
}

.a6{
    display: inline;
    margin-right: 15px;
}

.a7{
    display: inline;
    margin-right: 15px;
}

.order-buttons{
    display: block;
    margin-top: 20px;
    margin-left: 270px;
    margin-right: 270px;
}

.orderButtons{
    display: inline;
    margin-bottom: 30px;
}

.a8{
    float: left;
    margin-left: 150px;
    background-color: rgb(145, 20, 20);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.a8:hover{
    background-color: rgb(187, 13, 13);
}

.order-buttons a{
    font-size: 15px;
    color: white;
}

.a9{
    float: right;
    /* margin-right: 150px; */
    background-color: green;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.a9:hover{
    background-color: rgb(12, 161, 12);
}


.cancelPopUpclass {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .cancelPopUpContent-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .cancelPopUpContent-content p{
      font-weight: 500;
  }
  
  /* The Close Button */
  .closeCancel {
    color: green;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closeCancel:hover,
  .closeCancel:focus {
    color: rgb(12, 161, 12);
    text-decoration: none;
    cursor: pointer;
  }

  .yesCancel{
      display: block;
      float: left;
      margin: 25px 15px;
  }

  .btnCancel{
      background-color: rgb(145, 20, 20);
      padding: 8px 20px;
      border-radius: 5px;
  }

  .btnCancel:hover{
      background-color: rgb(187, 13, 13);
  }

  .yesCancel button a{
      color: white;
      font-size: 15px;
      font-weight: 600;
  }



  .confirmPopUpclass {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .confirmPopUpContent-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .confirmPopUpContent-content p{
      font-weight: 500;
  }
  
  /* The Close Button */
  .closeConfirm {
    color: green;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closeConfirm:hover,
  .closeConfirm:focus {
    color: rgb(12, 161, 12);
    text-decoration: none;
    cursor: pointer;
  }

  .yesConfirm{
      display: block;
      float: left;
      margin: 25px 15px;
  }

  .btnConfirm{
      background-color: #085394;
      padding: 8px 20px;
      border-radius: 5px;
  }

  .btnConfirm:hover{
      background-color: #033663;
  }

  .yesConfirm button a{
      color: white;
      font-size: 15px;
      font-weight: 600;
  }

  @media only screen and (min-width: 770px){
    .order-box{
        margin-top: 35px;
        margin-bottom: 35px;
        margin-left: 140px; 
        margin-right: 140px;
    }

    .order-subBox{
        text-align: left;
    }

    .orderDetails{
        display: inline-block;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 30px;
        border: 5px 5px #888;
        padding: 20px 20px;
    }
  }


@media only screen and (max-width: 770px) {

    .order-box{
        margin: 35px 10px;
        padding: 10px 10px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4); 
        text-align: center; 
    }

    .heading-order{
        font-size: 15px;
    }

    .p1{
        font-size: 13px;
    }
    .box3 {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        /* margin: 9px 166px; */
        padding: 10px 0px 0px 0px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 40%);
        left: 10%;
        position: relative;
        font-size: smaller;
    }

    .orderitem2 {
        color: #000000;
        position: relative;
        left: 150%;
        transform: translate(-14%, -81%);
    }

    .orderitemx {
        float: right;
        color: #000000;
        position: relative;
        /* left: -34%; */
        transform: translate(95%, 4%);
    }

    /* .order-buttons{
        display: block;
        margin-top: 30px;
    } */

    .order-buttons a{
        font-size: 12px;
    }

    /* .orderButtons{
        padding: 3px 5px;
    } */

    .changebutton{
        padding: 1px 3px;
    }

    .box2{
        margin: 20px 100px;
        background-color: white;
        border-radius: 5px;
        padding: 20px 20px;
        margin-left: 3px;
        font-size: smaller;
        text-align: left;
    }

    .order-buttons{
        display: block;
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .orderButtons{
        display: inline;
        padding: 4px 12px;
    }

    #cancelBtn{
        padding: 4px 4px;
    }
}