.heading{
    color: #085394;
    margin-bottom: 40px;
    text-align: center;
    font-size: larger;
}
#managerSearchEquipment{
    padding: 10px 10px;
    border-color: #085394;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 135px;
    display: block;
    font-size: 15px;
}

.Manager-EquipSearch{
    display: inline-block;
}

.managerEquipSearch1{
    /* margin-left: 100px; */
    margin-left: 291px;
}

.managerEquipSearch2{
    float: right;
    margin-left: 20px;
    /* margin-right: 250px; */
    margin-right: 426px;
}

#Manager-AssignedEquip-TeamTypes{
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    border: 2px outset #085394;
}

#managerSearchEquipment{
    font-size: 15px;
    border: 2px outset #085394;
}

.Manager-equip-Table{
    display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: center;
}

.manager-equip-table-wrap {
    overflow: auto;
    max-width: 100%;
}
table { 
    max-width: 100%; 
}

table, th, td { 
    border: solid 1px #085394;
    border-collapse: collapse; 
    padding: 2px 2px; 
    text-align: center;
    margin: 0px auto;
}

th{
    max-width: 130px;
}

td{
    max-width: 150px;
}

tr{
    max-width: 100%;
}
.hiddenEquipRecord{
    display: none;
}

@media only screen and (max-width: 770px){

    .heading{
        font-size: 15px;
    }

    .Equipment-search-box{
        margin-bottom: 2px;
    }
}