.heading{
    color: #085394;
    margin-bottom: 20px;
    text-align: center;
    font-size: larger;
}

.Mg-EmpSearch{
    display: inline-block;
}

.mgEmpSearch1{
    margin-left: 160px;
}

.mgEmpSearch2{
    float: right;
    margin-left: -100px;
    margin-right: 160px;
}

#serviceTeams-types{
    font-weight: 600;
    border-radius: 5px;
    border: 2px outset #085394;
}

#serviceTeamLeaders-types{
    font-weight: 600;
    border-radius: 5px;
    border: 2px outset #085394;
}

#managerSearchEmployee{
    font-size: 15px;
    border: 2px outset #085394;
}


.Table-search {
    display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: center;
}

.table-wrapper {
    overflow: auto;
    max-width: 100%;
}

tr {
    border-bottom: 1px solid;
}

th {
    color: #085394;
    /* white-space: nowrap; */
    cursor: pointer;
    border: solid 1px #085394;
}

th, td {
    border: solid 1px #085394;
    text-align: left;
    padding: 0.5em 1em;
    max-width: fit-content;
}

input[type=search] {
    border: 1px solid;
    font-size: initial;
    margin-bottom: 1em;
    padding: 0.25em;
}

.hidden {
    display: none;
}


@media only screen and (max-width: 770px){

    .heading{
        font-size: 12px;
        text-align: center;
    }

    .Mg-EmpSearch{
        display: block;
        text-align: center;
        margin: 10px auto;
    }

    #managerSearchEmployee{
        font-size: 12px;
        margin-right: 50px;
        margin-left: 50px;
    }

    .mgEmpSearch2{
        float: left;
        margin-left: 50px;
        margin-right: 50px;
    }

}