.heading{
    color: #085394;
    margin-bottom: 40px;
    text-align: center;
    font-size: larger;
}

.reservation-date{
    text-align: center;
    margin: 35px 80px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);   
}

.reservation-date h3{
    text-align: left;
    color: #085394;
    padding-top: 15px;
    padding-bottom: 15px;
}

#closeClick{
    display: inline-block;
    text-align: center;
    margin: auto auto;
}

.upcomingOrders{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 35px 80px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);  
}

.upcomingOrders h3{
    text-align: left;
    color: #085394;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.sub-box1{
    text-align: center;
    margin: 20px 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    padding: 20px 20px; 
}

.orderID{
    margin-top: 20px;
    margin-bottom: 10px;
}

.vehicleNo{
    margin-bottom: 20px;
}

.orderTime{
    margin-bottom: 20px;
}

.orderView{
    margin-bottom: 10px;
}

.viewLink{
    margin-bottom: 10px;
    text-align: center;
    color: #085394;
}

.orderView .viewLink a{
    color: #085394;
    font-size: 18px;
    text-decoration: underline;
}

.orderView .viewLink a:hover{
    color: #022d53;
}

.team{
    float: left;
    font-size: 13px;
    color: red;
}

@media only screen and (max-width: 770px){

    .heading{
        font-size: 15px;
    }

    .reservation-date h3{
        font-size: 15px;
    }

    .wash-date{
        margin: 35px 50px;
    }

    .upcomingOrders h3{
        font-size: 15px;
    }

    .upcomingOrders{
        display: block;
        margin: 25px 20px;
    }

    .sub-box1{
        display: block;
        margin: 20px 20px;
        padding: 20px 20px; 
    }

    .orderView .viewLink a{
        font-size: 15px;
        margin-bottom: 15px;
    }

    .team{
        margin-top: 20px;
        font-size: 12px;
    }
}