.heading{
    color: #193498;
    margin-bottom: 40px;
    text-align: center;
    font-size: larger;
}

.order-box3{
    margin: 35px 30px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4); 
    text-align: left; 
}

.servicceRating{
    margin: 35px 164px;
    padding: 10px 20px;
    /* background-color: white; */
    border-radius: 5px;
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 40%); */
    text-align: center;
}
.orderID{
    margin-top: 20px;
    margin-bottom: 40px;
}

.orderDate{
    margin-bottom: 30px;
}


.orderDate button{
    background-color:#193498;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.orderDate button a{
    color: white;
    font-weight: 700;
}

.orderTime {
    margin-bottom: 30px;
}

.orderTime button{
    background-color:#193498;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.orderTime button a{
    color: white;
    font-weight: 700;
}

.orderVehicle{
    margin-bottom: 30px;
}

.orderVehicle button{
    background-color:#193498;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.orderVehicle button a{
    color: white;
    font-weight: 700;
}

.orderServiceType{
    margin-bottom: 30px;
}

.orderServiceType button{
    background-color:#193498;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.orderServiceType button a{
    color: white;
    font-weight: 700;
}

.orderLocation{
    margin-bottom: 30px;
}

.orderLocation button{
    background-color:#193498;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.orderLocation button a{
    color: white;
    font-weight: 700;
}

.orderPrice{
    margin-bottom: 30px;
}

.orderPrice h3 a{
   text-decoration: underline;
   color: #193498;
}

.a1{
    display: inline;
    margin-right: 15px;
}

.a2{
    display: inline;
    margin-right: 15px;
}

.a3{
    display: inline;
    margin-right: 15px;
}

.a4{
    display: inline;
    margin-right: 15px;
}

.a5{
    display: inline;
    margin-right: 15px;
}

.a6{
    display: inline;
    margin-right: 15px;
}

.a7{
    display: inline;
    margin-right: 15px;
}

.p1{
    color: #193498;
}

.service-feedback{
    color: #193498;
    margin: 35px 80px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4); 
    text-align: center; 
}

.stars1 {
    width: 180px;
}

.rate1{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 40px;
}

.rate1 p{
    font-size: 15px;
    font-weight: 600;
}
 
.rating__star {
    cursor: pointer;
    /* color: #f1ce07b2; */
    color: yellow;
}

.viewPhotos{
    display: inline-block;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

@media only screen and (min-width: 770px){
    .order-box3{
        margin: 35px 80px;
        display: flex;
        flex-direction: row;
    }

    .viewCompleteOrder{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        text-align: left;
        padding: 20px 20px;
    }

    .hr{
        display: none;
    }
}
