.heading{
    color: #085394;
    margin-bottom: 20px;
    text-align: center;
    font-size: larger;
}

.Mg-EmpSearch{
    display: inline-block;
}

.mgEmpSearch1{
    margin-left: 20px;
}

.mgEmpSearch2{
    float: right;
    margin-left: 20px;
    margin-right: 20px;
}

#serviceTeams-types{
    font-weight: 600;
    border-radius: 5px;
    border: 2px outset #085394;
}

#serviceTeamLeaders-types{
    font-weight: 600;
    border-radius: 5px;
    border: 2px outset #085394;
}

#managerSearchEmployee{
    font-size: 15px;
    border: 2px outset #085394;
}

@media only screen and (max-width: 770px){

    .heading{
        font-size: 12px;
        text-align: center;
    }

    .Mg-EmpSearch{
        display: block;
        text-align: center;
        margin: 10px auto;
    }

    #managerSearchEmployee{
        font-size: 12px;
        margin-right: 50px;
        margin-left: 50px;
    }

    .mgEmpSearch2{
        float: left;
        margin-left: 50px;
        margin-right: 50px;
    }

}