.stl-home-h1{
    text-align: center;
    color: #193498;
    font-size: 20px;
    margin-top: 20px;
}

.stl-home-main{
    width: calc(100%-40px);
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    text-align: center; 
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(255,255,255,0.1);
}

.stl-home-main-flex{
    display: flex;
    flex-wrap: wrap;
}

.stlHome-block1, .stlHome-block2{
    flex: 100%;
    text-align: center;
    padding: 20px 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
}

h3{
    font-size: 12px;
}

@media only screen and (min-width: 770px){

    .stl-home-h1{
        font-size: 30px;
    }

    h3{
        font-size: 18px;
    }

    .stl-home-main{
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 80px;
        background-color: rgb(255,255,255,0.1);
    }

    .stlHome-block1, .stlHome-block2{
        flex: 40%;
        margin-left: 40px;
        margin-right: 40px;
    }

    .stlHome-block1:hover, .stlHome-block2:hover{
        background-color:#86bef0;
    }
} 