.stl-orders-h1{
    color: #085394;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.imageFile{
    padding: 4px;
    border-radius: 5px;
    width: 70%;
}

.order-box-1{
display: flex;
flex-wrap: wrap;
margin: 35px 166px;
padding: 10px 20px;
background-color: white;
border-radius: 5px;
box-shadow: 0 3px 10px rgb(0 0 0 / 40%);
}
.sub-box-1{
   margin: 20px 20px;
    background-color: white;
    border-radius: 5px;
    padding: 20px 20px;
}
.sub-box-2{
    margin-top: 20px;
    margin-bottom: 25px;;

    
}
.order-title{
    display: inline;
    margin-right: 100px;
    font-weight: bold;
    color: #085394;
}
.order-description{
    float: right;
    color: #000000;
    position: relative;
    left: -45%;
    transform: translate(95%, 4%);
}
.order-block-main{
    margin: 35px 80px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4); 
    text-align: center; 
    display:flex;
}

.view-location{
    background-color: #085394;
    padding: 10px 30px;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;

}

.next-page{
    float: right;
    margin: 10px 20px;
}

.completed-button{
    background-color: #00FF00 ;
    padding: 5px 10px;
    color: white;
    border-radius: 3px;
    font-size: 15px;
    cursor: pointer;
}

.completed-button:hover{
    background-color: #008000 ;
}

.upload-box{
 
    margin: 35px 166px;
padding: 10px 20px;
background-color: white;
border-radius: 5px;
box-shadow: 0 3px 10px rgb(0 0 0 / 40%);
}
.upload-box h3{
    color: #085394;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
}
.uploadImage{
    margin: 20px 20px;
    display: inline-block;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
  
}


.uploadImagesLink{
    background-color: #085394;
    padding: 5px 10px;
    color: white;
    margin-bottom: 17px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}


@media only screen and (min-width: 770px){
    .order-box-main{
        margin: 35px 80px;
        display: flex;
        flex-direction: row;
    }

    .Order-block-2{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        text-align: left;
        /* box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);  */
        padding: 20px 20px;
    }
}
