.stl-dashboard-h1{
    color: #085394;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.prev-pg{
    float: left;
    margin: 25px 50px;
}
.previous-button {
    background-color: #FF0000;
    padding: 10px 30px;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
.previous-button:hover{
    background-color: #800000;
}