.stl-dashboard-h1{
    color: #085394;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.previous-pg{
    float: left;
    margin: 10px 20px;
}
.back-button {
    background-color: #FF0000;
    padding: 5px 10px;
    color: white;
    border-radius: 3px;
    font-size: 15px;
    cursor: pointer;
}
.back-button:hover{
    background-color: #800000;
}