*{
    text-decoration: none;
    margin: 0;
}

html, body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    height: 100%;
    --color-error: #cc3333;
    --color-success: #4bb544;
}

main{
    min-height: 100%;
}

#container{
    overflow: auto;
    padding-bottom: 116px;
}

/* home pg body */

/* section-1 */

.home-main-section1{
    width: 100%;
    /* height: calc(100vh - 100px); */
    height: 700px;
    background-image: url('../images/car.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    display: table;
}

.home-main-section1-content{
    display: table-cell;
    vertical-align: middle;
}

.home-main-section1 h3{
    font-size: 50px;
    font-weight: 900;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px #111;
    margin-top: 90px;
}

.home-main-section1-button{
    display: block;
    margin: 20px auto;
    width: fit-content;
}

section .home-main-section1-button a{
    color: white;
    font-weight: 600;
    font-size: 15px;
}

.home-login-signup{
    height: 40px;
    margin-right: 10px;
    background-color: #085394;
    opacity: 0.7;
    border-radius: 5px;
}

/* section-2 */

.home-main-section2{
    margin-bottom: 20px;
}

.home-main-section2 h2{
    color: #085394;
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    margin: 50px auto 20px auto;
}

.section2-para1{
    display: block;
    padding-inline-start: 0px;
    margin: 0 auto;
    text-align: center;
    width: fit-content;
    font-weight: 250;
}

.section2-blocks1{
    margin: 50px 20px 0px;
    width: calc(100%-40px);
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    text-align: center;   
}

.section2-blocks2{
    margin: 50px 20px 0px;
    width: calc(100%-40px);
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    text-align: center;    
}

.section2-blocks3{
    margin: 50px 20px 0px;
    width: calc(100%-40px);
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    text-align: center;    
}

.section2-blocks4{
    margin: 50px 20px 0px;
    width: calc(100%-40px);
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    text-align: center;    
}

.section2-blocks5{
    margin: 50px 20px 0px;
    width: calc(100%-40px);
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    text-align: center;    
}

.section2-blocks6{
    margin: 50px 20px 0px;
    width: calc(100%-40px);
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    text-align: center;    
}

.section2-block-img1{
    position: relative;
    top: 20px;
    width: 90px;
    height: 80px;
    background-image: url('../images/place_an_order.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;

}

.section2-block-img2{
    position: relative;
    top: 20px;
    width: 90px;
    height: 80px;
    background-image: url('../images/service_team_comes_to_you.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;

}

.section2-block-img3{
    position: relative;
    top: 20px;
    width: 90px;
    height: 80px;
    background-image: url('../images/clean_car.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;

}

.section2-block-img4{
    position: relative;
    top: 20px;
    width: 90px;
    height: 80px;
    background-image: url('../images/360_F_427349135_dbCPcalNINIyEw9wMDGO9lgCuqbUG36k.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;

}

.section2-block-img5{
    position: relative;
    top: 20px;
    width: 90px;
    height: 80px;
    background-image: url('../images/istockphoto-1125613956-612x612.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;

}

.section2-block-img6{
    position: relative;
    top: 20px;
    width: 90px;
    height: 80px;
    background-image: url('../images/car sanitize.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;

}

.section2-block-heading{
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 15px;
    color: #085394;
}

.section2-block-para{
    margin: auto auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    font-weight: 400;
    line-height: 150%;
}


@media only screen and (min-width: 770px) {

    .home-main-section1{
        width: 100%;
        /* height: calc(100vh - 80px); */
        height: 700px;
        background-image: url('../images/car_desktop.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        display: table;
    }

    .home-main-section1 h3{
        font-size: 70px;
    }

    .home-main-section1-button{
        display: none;
    }

    .section2-blocksup{
        display: flex;
    }

    .section2-blocks1{
        flex: 25%;
    }

    .section2-blocks2{
        flex: 25%;
    }

    .section2-blocks3{
        flex: 25%;
    }

    .section2-blocksdown{
        display: flex;
    }

    .section2-blocks4{
        flex: 25%;
    }

    .section2-blocks5{
        flex: 25%;
    }

    .section2-blocks6{
        flex: 25%;
    }
    

} 



.bgImage { 
    background: url(/public/images/car_desktop.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}