/* .login-signup-heading{
    width: 100%;
    position: absolute;
    top: 25%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #085394;
} */

.login-signupbox{
    background-color:white;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px 10px 20px;

}

.login-signupheader{
    text-align: center;
    color: #085394;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 20px;
}

.input-box{
    border-color: whitesmoke;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 8px;
}

input:invalid {
    border-color: #085394;
}
    
input:valid {
    border: 2px solid black;
}

.input-box:focus{
    background-color: white;
}

.loggin-signup-button{
    display: block;
    margin: 20px auto 10px auto;
    width: 80px;
    color: white;
    border-radius: 5px;
    background-color: #085394;
    cursor: pointer;
}

.forget_pwd{
    width: 100%;
    position: absolute;
    top: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 13px;
    margin-bottom: 20px;
    cursor: pointer;
}

.forget_pwd:hover{
    text-decoration: underline;
}

.errorDisplay{
    text-align: left;
}

@media only screen and (max-width: 770px){

    .link-to-go-signup{
        width: 100%;
        position: absolute;
        top: 78%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 13px;
        margin-bottom: 20px;
        cursor: pointer;
    }
    
    .link-to-go-signup:hover{
        text-decoration: underline;
    }

}



/* .select-user{
    margin-top: 14px;
}

.user-label{
    font-size: 12px;
} */

/* #login-form-error-msg{
    font-size: 12px;
    text-align: center;
    margin-bottom: 12px;
    color: var(--color-error);
} */

/* .form-msg-success{
    font-size: 12px;
    text-align: center;
    margin-bottom: 12px;
    color: var(--color-success);
} */

/* #login-form-email-input-error-msg{
    margin-bottom: 10px;
    font-size: 12px;
    text-align: left;
    color: var(--color-error);
} */

/* .login-password-error{
    border-color: var(--color-error);
    color: var(--color-error);
} */

/* #login-form-password-input-error-msg{
    margin-bottom: 10px;
    font-size: 12px;
    text-align: left;
    color: var(--color-error);
} */