/* ------------------------- Customer-Book a wash ----------------------------------- */
.next-button {
  background-color: #193498;
  padding: 7px 20px;
  color: white;
  border-radius: 15px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 15px;
  margin-bottom: 20px;
  width: 150px;
}

.next-button:hover {
  background-color: #193498;
}

.next-button {
  padding: 10px 30px;
  border-color: #193498;
}

/* ------------------------- Customer-Give Review ----------------------------------- */

.review-box-button {
  display: block;
  margin: 10px auto 10px auto;
  width: 100px;
  height: 40px;
  color: white;
  border-radius: 15px;
  background-color: #193498;
  cursor: pointer;
  float: right;
}

/* ------------------------- Admin-Manage Employee,Equipment ----------------------------------- */
.addBtnEmps {
  text-align: center;
}

.edit_btn {
  text-decoration: none;
  padding: 2px 5px;
  background: #1597bb;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

.save_btn {
  display: none;
  text-decoration: none;
  padding: 2px 5px;
  background: #150e56;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

.edit_btn:hover,
.save_btn:hover {
  background: rgb(12, 161, 12);
}

.del_btn:hover {
  background: #500421;
}

.del_btn {
  text-decoration: none;
  padding: 2px 5px;
  color: white;
  border-radius: 3px;
  background: #7b113a;
  cursor: pointer;
}

/* ------------------------- Admin-Manage Employee ----------------------------------- */
#bts,
#btStl {
  display: none;
  margin: 20px auto;
  padding: 8px 8px;
  background-color: #1597e5;
  color: white;
  border-radius: 15px;
  border-color: white;
  cursor: pointer;
}

#addRow:hover,
#addStlRow:hover {
  background-color: #041553;
  color: white;
}

#bts:hover,
#btStl:hover {
  background-color: #041553;
}

#removeBtn,
#removeStlBtn {
  background-color: #7b113a;
  padding: 5px 5px;
  color: white;
  border-radius: 5px;
  border-color: white;
  cursor: pointer;
}

#removeBtn:hover,
#removeStlBtn:hover {
  background-color: #500421;
}

.upload_image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 10px;
}

/* -------------------------Admin- Manage Equipment ----------------------------------- */

#addNewRow:hover,
#addNewCategoryRow:hover,
#bt:hover {
  background-color: #041553;
  color: white;
}

#assignEquipment:hover,
#bt:hover {
  background-color: #041553;
}
#submitButton,
#submitCategoryButton,
#saveButton {
  display: none;
  margin: 20px auto;
  padding: 8px 8px;
  background-color: #1597e5;
  color: white;
  border-radius: 15px;
  border-color: white;
  cursor: pointer;
}

#submitCategory {
  background-color: #1597e5;
  color: white;
  border-radius: 8px;
  border-color: white;
  padding: 2px 6px;
  cursor: pointer;
  text-align: center;
}

#submitButton:hover,
#submitCategoryButton:hover,
#saveButton:hover,
#submitCategory:hover {
  background-color: #041553;
}

#removeButton1 {
  background-color: #7b113a;
  padding: 5px 5px;
  color: white;
  border-radius: 5px;
  border-color: white;
  cursor: pointer;
}

#removeButton1:hover {
  background-color: #550222;
}

#closeButton {
  background-color: #7b113a;
  padding: 5px 5px;
  color: white;
  border-radius: 5px;
  border-color: white;
  cursor: pointer;
}

#closeButton:hover {
  background-color: #550222;
}

#adminViewEquip:hover {
  background-color: #061757;
}

/* ------------------------- Admin-Manage Service ----------------------------------- */
.editPriceBtn {
  padding: 5px 15px;
  color: white;
  background-color: #193498;
  cursor: pointer;
  border-radius: 5px;
}

/* ------------------------- forms submit and cancel buttons ----------------------------------- */

.formSubmitButton {
  float: right;
  display: block;
  margin: 20px auto 10px auto;
  width: 80px;
  color: white;
  border-radius: 5px;
  background-color: #193498;
  cursor: pointer;
  padding: 5px 0px 5px 0px;
}

.formCancelButton {
  float: left;
  display: block;
  margin: 20px auto 10px auto;
  width: 80px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  background-color: #777b80;
  cursor: pointer;
  padding: 5px 0px 5px 0px;
}
/*------------Account----------*/
.vehicle-box:hover > .btn2 {
  display: block;
  opacity: 1;
  cursor: pointer;
}

.btn2 {
  position: absolute;
  opacity: 0.4;
}
.map-box:hover > .btn3 {
  display: block;
  opacity: 1;
  cursor: pointer;
}

.btn3 {
  position: absolute;
  opacity: 0.7;
  color: #193498;
}

.btn {
  opacity: 0.4;
  position: absolute;
  display: inline;
  color: #193498;
  margin-left: 10px;
  margin-top: 5px;
}

.account-email:hover > .btn {
  opacity: 1;
  cursor: pointer;
}

.button {
  background-color: #cecece;
  border: none;
  color: rgb(0, 0, 0);
  padding: 12px 30px;
  text-align: center;
  font-size: 16px;
  margin: 0px 10px;
  opacity: 0.6;
  transition: 0.3s;
  /* display: inline-block; */
  text-decoration: none;
  cursor: pointer;
  border-radius: 27px;
  float: right;
}

.button:hover {
  opacity: 1;
  background-color: #193498;
  color: #f5f5f5;
}

/* ------------------------- Reservation buttons-Order summary ----------------------------------- */

.reservation-buttons {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}

.reservationButtons {
  display: inline;
  margin-bottom: 30px;
}
.reservation-buttons a {
  font-size: 15px;
  color: white;
}
/*-----------Customer Order summary------------*/
.bt {
  /* display: inline; */
  margin-bottom: 30px;
  float: left;
  /* margin-left: 236px; */
  background-color: #7b113a;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.bt2 {
  /* display: inline; */
  margin-bottom: 30px;
  float: right;

  background-color: #1597e5;
  border-radius: 5px;
  cursor: pointer;
  border-color: #1597e5;
}

.order-buttons {
  display: block;
  margin-top: 20px;
  /* margin-left: 240px;
    margin-right: 180px; */
}
.orderButtons {
  display: inline;
  margin-bottom: 30px;
}
.order-buttons a {
  font-size: 15px;
  color: white;
}

.changebutton {
  margin-left: 0px;
  background-color: #193498;
  padding: 6px 9px;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.a8 {
  float: left;
  margin-left: 150px;
  background-color: #7b113a;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border-color: #7b113a;
}

.a8:hover {
  background-color: #4e0320;
  border-color: #4e0320;
}

.a9 {
  float: right;
  /* margin-right: 150px; */
  background-color: #1597e5;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border-color: #1597e5;
}

.a9:hover {
  background-color: #024066;
  border-color: #024066;
}

/* ------------------------- Upcoming Order ----------------------------------- */

.a13 {
  float: left;
  margin-left: 0px;
  background-color: #193498;
  padding: 6px 9px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.a13:hover {
  background-color: #031861;
}

/* ------------------------- Completed Order ----------------------------------- */

.a1,
.a2,
.a3,
.a4,
.a5,
.a6,
.a7 {
  display: inline;
  margin-right: 15px;
}

/* ------------------------- Completed Order - Manager ----------------------------------- */

.a12 {
  float: left;
  margin-left: 0px;
  background-color: #193498;
  padding: 6px 9px;
  border-radius: 5px;
  cursor: pointer;
}

.a12:hover {
  background-color: #04185f;
}

.a8 {
  float: left;
  margin-left: 0px;
  background-color: #7b113a;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.a8:hover {
  background-color: #4e0320;
}

.a10 {
  float: right;
  /* margin-right: 161px; */
  background-color: #7b113a;
  padding: 6px 9px;
  border-radius: 5px;
  cursor: pointer;
}

.a10:hover {
  background-color: #4e0320;
}
/*stl view today order*/
.a15 {
  margin-left: 0px;
  background-color: #193498;
  padding: 6px 9px;
  border-radius: 5px;
  cursor: pointer;
}

.a15:hover {
  background-color: #04185f;
}
/*------------------------------*/
@media only screen and (max-width: 770px) {
  .button {
    width: 40%;
    padding: 12px 0px;
  }
  .btn2 {
    top: 440px;
    right: 57px;
  }

  .btn3 {
    top: 811px;
    right: 59px;
  }

  .next-button {
    padding: 5px 8px;
    font-size: 15px;
  }

  .next-button a {
    font-size: 15px;
  }

  .bt {
    margin-left: 0px;
  }

  .bt2 {
    padding: 4px 4px;
    float: right;
  }

  .order-buttons a {
    font-size: 12px;
  }

  .changebutton {
    padding: 1px 3px;
  }

  .order-buttons {
    display: block;
    margin-top: 20px;
    width: 100%;
  }

  .orderButtons {
    display: inline;
    padding: 4px 12px;
  }

  #cancelBtn {
    padding: 4px 4px;
  }

  .a8,
  .a10 {
    width: 120px;
    padding: 5px 10px;
    /* font-size: 5px; */
  }
  .a10 {
    margin-right: 20px;
  }

  .a13 {
    width: 120px;
  }
}

@media only screen and (min-width: 770px) {
  .btn3 {
    top: 117px;
    right: 9px;
  }

  .btn2 {
    right: 347px;
    top: 368px;
  }
  .bt2 {
    margin-left: 203px;
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 327px) {
  .btn2 {
    top: 427px;
  }

  .btn3 {
    top: 785px;
    right: 59px;
  }
}
