/* .login-signupbox {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px 10px 20px;
} */

.login-signupheader {
  text-align: center;
  color: #193498;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 20px;
}

.input-box {
  border-color: whitesmoke;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 8px;
}

input:invalid {
  border-color: #193498;
}

input:valid {
  border: 2px solid black;
}

.input-box:focus {
  background-color: white;
}

.loggin-signup-button {
  display: block;
  margin: 20px auto 10px auto;
  width: 80px;
  color: white;
  border-radius: 15px;
  background-color: #193498;
  cursor: pointer;
}

.forget_pwd {
  width: 100%;
  position: absolute;
  top: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 13px;
  margin-bottom: 20px;
  cursor: pointer;
}

.forget_pwd:hover {
  text-decoration: underline;
}

.errorDisplay {
  text-align: left;
}

@media only screen and (max-width: 770px) {
  .link-to-go-signup {
    width: 100%;
    position: absolute;
    top: 78%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 13px;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .link-to-go-signup:hover {
    text-decoration: underline;
  }

  .login-signupbox {
    transform: translate(-50%, -50%);
    padding: 10px 20px 10px 20px;
  }
}
