
.login-signupheader{
    text-align: center;
    color: #193498;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 20px;
}

.input-box{
    border-color: whitesmoke;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 8px;
}

input:invalid {
    border-color: #193498;
}
    
input:valid {
    border: 2px solid black;
}

.input-box:focus{
    background-color: white;
}

.loggin-signup-button{
    display: block;
    margin: 20px auto 10px auto;
    width: 80px;
    color: white;
    border-radius: 15px;
    background-color: #193498;
    cursor: pointer;
}

.forget_pwd{
    width: 100%;
    position: absolute;
    top: 77%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 13px;
    margin-bottom: 20px;
    cursor: pointer;
}

.forget_pwd:hover{
    text-decoration: underline;
}

.errorDisplay{
    text-align: left;
}

@media only screen and (max-width: 770px){

    .link-to-go-signup{
        width: 100%;
        position: absolute;
        top: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 13px;
        margin-bottom: 20px;
        cursor: pointer;
    }
    
    .link-to-go-signup:hover{
        text-decoration: underline;
    }

}