.stl-dashboard-h1 {
  color: #193498;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.stlChart3,
.stlChart4 {
  text-align: center;
  width: 40%;
  display: inline-block;
  margin: auto 20px;
}
