.managerChartsR1,
.managerChartsR2 {
  text-align: center;
}

.managerChart1,
.managerChart2 {
  width: 40%;
  margin: auto 20px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
  border-radius: 10px;
}

.managerChart3,
.managerChart4 {
  text-align: center;
  width: 40%;
  display: inline-block;
  margin: auto 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
  border-radius: 10px;
}

.managerChart3,
.managerChart4 {
  text-align: center;
  width: 40%;
  display: inline-block;
  margin: 30px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
  border-radius: 10px;
}

@media only screen and (max-width: 770px) {
  .heading {
    font-size: 15px;
  }
}
