.heading{
    color: #193498;
    margin-bottom: 20px;
    text-align: center;
    font-size: larger;
}

.managerChartsR1, .managerChartsR2{
   text-align: center;
}
  
.managerChart1, .managerChart2{
    width: 40%;
    margin: auto 20px;
    display: inline-block;
} 

.managerChart3, .managerChart4{
    text-align: center;
    width: 40%;
    display: inline-block;
    margin: auto 20px;
}

@media only screen and (max-width: 770px){

    .heading{
        font-size: 15px;
    }
}