.heading{
    color: #193498;
    margin-bottom: 40px;
    text-align: center;
    font-size: larger;
}
#managerSearchEquipment, #managerSearchEmployee{
    padding: 10px 10px;
    border-color: #193498;
    border-radius: 5px;
    margin-bottom: 10px;
    display: block;
    font-size: 15px;
}

#Manager-AssignedEquip-TeamTypes{
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    border: 2px outset #193498;
}

#managerSearchEquipment{
    font-size: 15px;
    border: 2px outset #193498;
}


@media only screen and (max-width: 770px){

    .heading{
        font-size: 15px;
    }

    .Equipment-search-box{
        margin-bottom: 2px;
    }
}