.heading-adminManageService{
    color: #193498;
    margin-bottom: 20px;
    text-align: center;
    font-size: larger;
}

.serviceManage{
    display: block;
    margin-left: 20px;
    margin-right: 20px;
}

.serviceManageHeader{
    color: #193498;
}

.serviceManageBox{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 35px 80px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4); 
    padding-top: 40px;
    padding-bottom: 40px;
}

.typeServices{
    text-align: center;
    margin: auto auto;
    padding: 20px 40px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    font-weight: 500;
    cursor: pointer;
}

.typeServices{
    color: black;
}

.addBtnService{
    color: lightgrey;
}

.addBtnVehicles{
    color: lightgrey;
}

.typeServices :hover{
    color:#193498;
}

.vehicleManage{
    display: block;
    margin-left: 20px;
    margin-right: 20px;
}

.vehicleManageHeader{
    color: #62707c;
}

.vehicleManageBox{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 35px 80px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4); 
    padding-top: 40px;
    padding-bottom: 40px;
}

.typeVehicles{
    text-align: center;
    margin: auto auto;
    padding: 20px 40px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    font-weight: 500;
    cursor: pointer;
}

.typeVehicles a{
    color: black;
}

.addBtnVehicles a{
    color: lightgrey;
}

.typeVehicles a:hover{
    color:#193498;
}

.priceManage{
    display: block;
    margin-left: 20px;
    margin-right: 20px;
}

.priceManageHeader{
    color: #193498;
}

.priceManageBox{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 35px 80px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4); 
    padding-top: 40px;
    padding-bottom: 40px;
}

.typesBox{
    text-align: center;
    margin: auto auto;
    padding: 20px 40px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    font-weight: 500;
}

#admin-wash-types{
    border-color: #193498;
    border-width: 2px;
    font-weight: 600;
    font-size: 14px;
}

#admin-vehicle-types{
    border-color: #193498;
    border-width: 2px;
    font-weight: 600;
    font-size: 14px;
}

.priceBox{
    display: inline;
    text-align:center;
}

.editPriceBtn{
    padding: 5px 15px;
    color: white;
    background-color: #193498;
    cursor: pointer;
    border-radius: 5px;
}

.displayPrice{
    margin-right: 20px;
}


#interiorClean, #interior-exteriorClean, #sanitization, #vehiclesNames, #newServiceNames, #newVehicleNames{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.iClean, .vehicleManagment, .addNewServicesBox, .addNewVehicleBox{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.iClean h3{
    color: #193498;
}

.vehicleManagment h3{
    color: #193498;
}

.addNewServicesBox h3{
    color: #193498;
}

.addNewVehicleBox h3{
    color: #193498;
}

.interiorClean-content, .vehicles-content, .addNewService-content, .addNewVehicle-content{
    margin-bottom: 15px;
}

.closeInteriorClean, .closeVehicle, .closeAddService, .closeAddVehicle{
    color: #1597E5;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeInteriorClean:hover,
.closeInteriorClean:focus {
    color: #023f64;
    text-decoration: none;
    cursor: pointer;
}

.deleteIClean{
    display: block;
    float: left;
    margin: 25px 15px;
}


.btnDeleteInteriorCleaning{
    color: white;
    background-color: #7B113A;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btnDeleteInteriorCleaning:hover{
    background-color: #4d0420;
}

.closeVehicle:hover,
.closeVehicle:focus {
    color: #023f64;
    text-decoration: none;
    cursor: pointer;
}

.deleteVehicle{
    display: block;
    float: left;
    margin: 25px 15px;
}

.btnDeleteVehicle{
    color: white;
    background-color: #7B113A;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btnDeleteVehicle:hover{
    background-color: rgb(187, 13, 13);
}

.closeAddService:hover,
.closeAddService:focus {
    color: #4d0420;
    text-decoration: none;
    cursor: pointer;
}

.cancelAddNewServices{
    display: block;
    margin: 35px 15px;
}

.btnAddNewService{
    color: white;
    background-color: #193498;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

.btnCancelAddService{
    color: white;
    background-color: #7B113A;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    float: left;
}

.addNewServiceInput{
    width: 50%;
}

#newServiceTypeName{
    margin-bottom: 20px;
}


.closeAddVehicle:hover,
.closeAddVehicle:focus {
    color: #023f64;
    text-decoration: none;
    cursor: pointer;
}

.cancelAddNewVehicles{
    display: block;
    margin: 35px 15px;
}

.btnAddNewVehicle{
    color: white;
    background-color: #193498;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

.btnCancelAddVehicle{
    color: white;
    background-color: #7B113A;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    float: left;
}

.addNewServiceInput{
    width: 50%;
}

.addNewVehicleInput{
    width: 50%;
}

@media only screen and (max-width: 770px) {
    
    .heading-adminManageService{
        font-size: 15px;
    }

    .serviceManageHeader h3{
        font-size: 16px;
    }

    .vehicleManageHeader h3{
        font-size: 16px;
    }

    .priceManageHeader h3{
        font-size: 16px;
    }

    .serviceManageHeader h3{
        margin-left: 10px;
        margin-right: 10px;
    }

    .serviceManageBox{
        margin-left: 10px;
        margin-right: 10px;
    }

    .typeServices{
        margin-bottom: 15px;
    }

    .vehicleManage{
        margin-left: 10px;
        margin-right: 10px;
    }

    .vehicleManageBox{
        margin-left: 10px;
        margin-right: 10px;
    }

    .typeVehicles{
        margin-bottom: 15px;
    }

    .priceManage{
        margin-left: 10px;
        margin-right: 10px;
    }

    .priceManageBox{
        margin-left: 10px;
        margin-right: 10px;
    }

    .typesBox{
        margin-bottom: 15px;
    }

    #admin-vehicle-types, #admin-wash-types{
        font-size: 12px;
    }

}